<div class="container mt-2">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="mt-5">HELLO WORLD!!!</h1>
      <h4 class="mt-5">Programming Examination of Atsadavut Tisachai</h4>
    </div>
    <div class="col-12 mt-5">
      <div class="row d-flex justify-content-center">
        <div class="col-2">
          <a class="btn btn-primary w-100" [routerLink]="'/hero'">Hero</a>
        </div>
        <div class="col-2">
          <a class="btn btn-secondary w-100" [routerLink]="'/post'">Post</a>
        </div>
        <div class="col-2">
          <a class="btn btn-success w-100" [routerLink]="'/triangle'">Triangle</a>
        </div>
        <div class="col-2">
          <a class="btn btn-warning w-100" [routerLink]="'/citizen-id'">Citizen ID</a>
        </div>
        <div class="col-2">
          <a class="btn btn-info w-100" [routerLink]="'/pyramid'">Pyramid</a>
        </div>
      </div>
    </div>
  </div>
</div>
